@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #141312;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
/* COLORS */
  /* YELLOW */
  --color-yellow-700: #5C4F31;
  --color-yellow-500: #BB922D;
  --color-yellow-350: #FFBF21;
  --color-yellow-300: #FBD577;
  --color-yellow-100: #FFF0CB;
  --color-yellow-50: #FFF0CB;

  /* RED */
  --color-red-700: #713C23;
  --color-red-500: #9B4D2B;
  --color-red-300: #DA8559;
  --color-red-100: #FFD5C3;

  /* BLUE */
  --color-blue-700: #1F5599;
  --color-blue-500: #5F9FEE;
  --color-blue-300: #B1D2FC;
  --color-blue-100: #D2E4FB;

  /* GREEN */
  --color-green-500: #3E7229;
  --color-green-300: #C8FFB1;

  /* GREY */
  --color-grey-700: #3B3634;
  --color-grey-500: #5E544E;
  --color-grey-300: #A59E9A;
  --color-grey-100: #DDDDDD;

  /* BLACK & WHITE */
  --color-white: #fdfdfd;
  --color-black: #141312;

  





  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans), Arial, Helvetica, sans-serif;
}
